* {
    /* border: 1px red solid; */
    /* margin: 3px; */
}

body {
    display: flex;
    margin: 0;
    background-color: #eee;
}

.sidebar {
    background-color: #1a92d3;
    height: 100vh;
    width: 20vw;
    margin: 0;
}

.dashboard {
    margin: 10px 5px 30px 5px;
    display: flex;
    align-items: center;
    color: aliceblue;
}

.dashboard-text {
    font-size: 24px;
}

.dashboard-pic {
    width: 50px;
    margin: 5px;
}

.pages {
    margin: 10px 5px 30px 5px;
}

.page {
    display: flex;
    margin: 3px;
}

.pic {
    width: 20px;
    margin: 3px;
}

.text {
    color: aliceblue;
    margin: 3px;
}

.settings {
    margin: 5px;
}

.right {
    width: 80vw;
}

.header {
    box-sizing: border-box;
    width: 100%;
    padding: 3px 5%;
    height: 20vh;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.search-container {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.search-pic {
    margin: 5px;
}

input {
    width: 250px;
    height: 1.5rem;
    margin: 5px;
    border-radius: 10px;
    border: 0;
    background-color: #eee;
}

.search-pic {
    width: 30px;
}

.bell {
    display: flex;
    align-items: center;
}

.bell-pic {
    width: 30px;
    margin: 0 5px;
}

.pfp-1 {
    width: 30px;
    margin: 0 15px 0 20px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.welcome {
    display: flex;
}

.pfp-2 {
    width: 45px;
    margin: 0 5px;
}

.hithere {
    font-size: 0.75rem;
}

.name-2 {
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    align-items: center;
}

button {
    margin: 5px;
    background-color: #1a92d3;
    color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 20px;
    border: 0;
}

.content {
    display: flex;
    height: 79vh;
}

.projects {
    width: 75%;
    box-sizing: border-box;
    padding: 15px;
}

.boxes {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.box {
    width: clamp(100px, 45%, 320px);
    margin: 1vw;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    border-left: 5px #ffdd68 solid;
}

.heading {
    margin: 5px 0;
}

.icons {
    display: flex;
    justify-content: end;
    margin: 15px 0 5px 0;
}

.icon {
    width: 15px;
    margin: 3px;
}

.side {
    width: 25%;
}

.announcements {
    width: 80%;
    margin: 5px 10%;
    height: 35vh;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.announcement-header {
    margin: 5px;
}

.announcements-header {
    font-size: 1rem;
}

.announcement {
    margin: 10px 0;
    font-size: 0.85rem;
    margin: 8px;
}

.trending {
    height: 35vh;
    width: 80%;
    margin: 5px 10%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.person {
    display: flex;
    align-items: center;
    margin: 15px;
}

.person-pfp {
    width: 40px;
}